body{
	padding-left: 125px;
}

.page-content{
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.text-center{
	text-align: center;
}

.row .col-8{
 margin: auto;
}

@media (min-width: 768px) { 
	body{
		padding-left: 200px;
	}
}